form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    .submitContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-weight: 200;
            text-decoration: underline;
        }
    }
}
input[type="checkbox"] {
    position: relative;
    font-size: 1rem;
    height: 1.5rem;
    aspect-ratio: 1;
    border: 2px solid var(--Green-sheen);
    border-radius: 50%;
    appearance: none;
    box-sizing: content-box;
    cursor: pointer;

    &:checked {
        font-size: 1rem;
        color: var(--Green-sheen);
        @include fa-icon-solid($fa-var-check);
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

input[type="password"], input[type="email"] {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    border: 2px solid var(--Terra-Cotta);
    border-radius: 0.5em;
    padding: .5em 1em;

    &::placeholder {
        color: var(--Independence);
    }
}
