header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 56px 0px;

    .hamburger {
        position: relative;
        width: 30px;
        height: 4px;
        background-color: var(--Deep-champagne);
        cursor: pointer;

        &::after {
            position: absolute;
            top: 10px;
            content: '';
            background-color: inherit;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
        &::before {
            position: absolute;
            top: -10px;
            content: '';
            background-color: inherit;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(57%);

        background-color: #fff;

        width: 100vw;

        padding: 16px;
        padding-right: 24px;
        border-radius: 0px 0px 8px 8px;
        box-sizing: border-box;
        z-index: 10;

        transition: .4s ease-in-out;
        // animation: navSlide .4s reverse;

        i {
            align-self: flex-end;
            // margin-bottom: 16px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
                list-style: none;
            }
        }
    }

    /* Toggle active nav */
    &.active {
        nav {
            transform: translateX(-50%);
            // animation: navSlide .4s ease-in-out;
            transition: .4s ease-in-out;
        }
        &::after {
            position: fixed;
            content: '';
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.45);
            opacity: 1;
        }
    }
}

@keyframes navSlide {
    from {
        transform: translateX(57%);
    }
    to {
        transform: translateX(-50%);
    }
}
