.btn {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    // background-color: var(--Green-sheen); Too much importens
    padding: 0.5em 1.5em;
    border-radius: .5em;
    border: none;

    cursor: pointer;
}
