.navRecept {
    display: flex;
    gap: 2rem;
    position: fixed;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);

    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;

    a {
        color: #fff;
    }
}
