.text-GreenSheen {
    color: var(--Green-sheen);
}
.bg-GreenSheen {
    background-color: var(--Green-sheen);
}

.text-TerraCotta {
    color: var(--Terra-Cotta);
}
.bg-TerraCotta {
    background-color: var(--Terra-Cotta);
}
